# <font color="red"> MBA em IA e Big Data</font>
## <span style="color:red">Linguagens e Ferramentas para Inteligência Artificial e Big Data (Python e SQL)</span>

### <span style="color:darkred">Python: referências, operações e funções</span>

## Exercícios com soluções

*Moacir Antonelli Ponti*<br>
*ICMC/USP São Carlos*

*(com material do Prof. Luis Gustavo Nonato)*

#### <span style="color:red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</span>

# Parte 1 - Python básico

### Exercício 1)

Qual o tipo do valor resultante das operações abaixo (ou das variáveis as quais foram atribuídos)?

a) `False + True`<br>
b) `2 * 1e2**2`<br>
c) `a = 6/2`<br>
d) `x = 6//2 + 6%2`<br>
e) `(2 + 4) == 4 or 0 <= 1`<br>

In [3]:
print(False+True, type(False+True))

1 <class 'int'>

In [4]:
print(2 * 1e2**2, type(2 * 1e2**2))

20000.0 <class 'float'>

In [5]:
a = 6/2
print(a, type(a))

3.0 <class 'float'>

In [6]:
x = 6//2 + 6%2
print(x, type(x))

3 <class 'int'>

In [7]:
print((2 + 4) == 4 or 0 <= 1, type((2 + 4) == 4 or 0 <= 1))

True <class 'bool'>

### Exercício 2)

Crie uma variável contendo um ano (um valor inteiro entre 0 e 3000)

A seguir, se o ano for divisível por 4, exiba na tela 'Pode ser um ano bissexto'; caso contrário exiba 'Definitivamente não é um ano bissexto'

__Dica:__ Utilize o operador `%` que retorna o resto da divisão de um número por outro.

In [8]:
ano = 2021
if (ano % 4 == 0):
    print('Pode ser um ano bissexto')
else:
    print('Definitivamente não é um ano bissexto')

Definitivamente não é um ano bissexto

### Exercício 3)

Dada a lista `valores` abaixo, crie uma nova lista chamada `numeros` contendo apenas elementos `float` ou `int`.

Note que essa nova lista pode ter menos elementos do que a lista existente.

Ao final exiba a nova lista `numeros`

__Dica__: Percorra a lista com uma estrutura de repetição e utilize `type()` para retornar o tipo e compare com o desejado. Exemplo:
```python
type(3) == int
```
Retorna `True`

In [9]:
valores = ['três', 56, 342, 12.4e-5, 4+3j, ('A', 1, 50.1), -0.19e4, 1000, 960, -406]

In [10]:
numeros = []
for i in valores:
    if (type(i) == float or type(i) == int):
        numeros.append(i)
        
print(numeros)

[56, 342, 0.000124, -1900.0, 1000, 960, -406]

### Exercício 4)

Escreva uma **função** que receba por parâmetro uma taxa de juros pagas ao ano, calcule e retorne um número inteiro relativo a quantos anos serão necessários para que um investimento nessa taxa dobre de valor. Assuma juros compostos e use uma estrutura de repetição para calcular.

In [11]:
def dobrar_investimento(juros):
    valor = 1
    anos = 0
    while (valor < 2):
        anos += 1
        valor = valor*(1+juros)
    return anos

a5 = dobrar_investimento(0.05)
print(a5)

a7 = dobrar_investimento(0.07)
print(a7)

15
11

### Exercício 5)
Considere a lista `linguagens` declarada abaixo. 
- Utilizando fatiamento, imprima o subconjunto de elementos entre o segundo e o quarto elemento (inclusive)
- Gere uma nova lista chamada `maiores4` contendo os elementos da lista `linguagens` que possuam quatro caracteres ou mais, utilizando a função `len()`.
- Gere uma nova lista chamada `j_ou_c` contendo os elementos da lista `linguagens` que começam com a letra 'j' ou com a letra 'c'.

In [12]:
linguagens = ['python', 'java', 'c++', 'javascript', 'c#', 'go', 'r', 'cobol', 'ruby', 'lisp']

print(linguagens[1:5])

quatro_ou_mais = []
for elemento in linguagens:
    if len(elemento) >= 4:
        quatro_ou_mais.append(elemento)
        
j_ou_c = []    
for elemento in linguagens:
    if elemento[0] == 'j':
        j_ou_c.append(elemento)
    if elemento[0] == 'c':
        j_ou_c.append(elemento)
        
print("Quatro ou mais: ", quatro_ou_mais)
print("Inicia com j ou c: ", j_ou_c)

['java', 'c++', 'javascript', 'c#']
Quatro ou mais:  ['python', 'java', 'javascript', 'cobol', 'ruby', 'lisp']
Inicia com j ou c:  ['java', 'c++', 'javascript', 'c#', 'cobol']

---
### Exercício 6) 

Codifique uma função `conta_palavras()` que, a partir de um um texto (string) contendo palavras separadas por vírgulas apenas - considere que não há outras pontuações:
1. Inicie criando uma lista de palavras e 
2. Use um dicionário para contar a frequência de cada palavra no texto, retornando o dicionário obtido.

*Dica: use a função `str.split()` para separar uma string em substrings usando como delimitador um caracter especificado por argumento*

Exemplo:

```
nomes = "ana,fábio,cristina,ana,fábio,ubiratã,ana"
freq = conta_palavras(nomes)
print(freq)
```
Deve gerar:
```
{'ana': 3, 'fábio': 2, 'cristina': 1, 'ubiratã': 1}
```

In [13]:
def conta_palavras(frase):
    pals = frase.split(',')
    freq = {}
    
    for p in pals:
        if p not in freq:
            freq[p] = 1
        else:
            freq[p] += 1
            
    return freq

nomes = "ana,fábio,cristina,ana,fábio,ubiratã,ana"
freq = conta_palavras(nomes)
print(freq)

{'ana': 3, 'fábio': 2, 'cristina': 1, 'ubiratã': 1}

### Exercício 7) 
Considere a lista `produtos` definida abaixo, onde cada elemento é uma tupla possuindo:
* elemento 1: o nome de um produto 
* elemento 2: e uma lista de preços encontradas no mercado. 

Calcule a média de preços de cada produto, salvando o resultado em uma nova lista chamada `preco_medio`.

Posteriormente, sorteie um dos produtos e exiba na tela o nome e preço médio desse produto sorteado

__Dica:__ Utilize a função `fsum()` do módulo `math` para somar os valores daa lista. Por exemplo:
```python
ls = [1.0,1.0,1.0,1.0,1.0]
print(fsum(ls))
```
resulta no valor 5

In [14]:
produtos = [('soja', [170.1, 183.0, 175.0]),
            ('algodao', [143.4]),
            ('cacau', [199, 185.1]),
            ('café', [880, 750.9, 795.1, 900])]

In [15]:
from math import fsum
from random import randint

preco_medio = []
for p in produtos:
    media = fsum(p[1])/len(p[1])
    preco_medio.append(media)

sorteio = randint(0,len(produtos)-1)
print(produtos[sorteio][0], "preço médio=", preco_medio[sorteio])

soja preço médio= 176.03333333333333

----

# Parte 2 - Pandas

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font>

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- Year: ano da copa
- Country: pais sede
- Winner: campeão
- RunnersUp: disputou a final com o campeão
- Third: terceiro colocado
- Fourth: quarto colocado
- GoalsScored: número de gols na copa
- QualifiedTeams: número de times que disputaram a copa
- MatchesPlayed: número de jogos
- Attendance: número de espectadores (público)

### Exercício 8) 
Utilizando o <font color='blue'>pandas</font> leia o arquivo <font style="font-family: monaco">WorldCups.csv</font> como DataFrame. 
- Definina a coluna 'Year' como índice
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

In [16]:
# SOLUÇÃO
# Voce precisa colocar o caminho do diretório no drive onde o 
# arquivo WorldCups.csv está

import pandas as pd
df = pd.read_csv('WorldCups.csv')

In [17]:
df.set_index('Year', inplace=True)

In [18]:
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [19]:
print(df.dtypes)

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [20]:
print("Número de linhas = ", df.shape[0])

Número de linhas =  20

### Exercício 9) 
Remova as colunas 'QualifiedTeams' e 'Fourth' do DataFrame. 

A seguir, com o DataFrame resultante, exiba os vencedores das copas entre os anos 1954 e 1982 (inclusive)

In [21]:
df = df.drop(['QualifiedTeams','Fourth'],axis=1)

In [22]:
df.loc[1954:1982,'Winner']

Year
1954    Germany FR
1958        Brazil
1962        Brazil
1966       England
1970        Brazil
1974    Germany FR
1978     Argentina
1982         Italy
Name: Winner, dtype: object

## Exercício 10)

Crie uma nova coluna com a média de gols por partida chamada `AverageGoalsMatch`, dividindo o número de gols pelo número de partidas jogadas.

A seguir, encontre e/ou calcule:
- os anos em que o Brasil ganhou a copa, armazene em uma lista as média de gols naqueles anos. A seguir imprima a lista na tela.
- os anos em que o Brasil jogou uma final (os finalistas estão nas colunas 'Winner' e 'RunnersUp') e imprima na tela os anos e a média de gols de cada ano
- a porcentagem de vitórias do Brasil em finais, e imprima na tela

In [23]:
df['AverageGoalsMatch'] = df['GoalsScored']/df['MatchesPlayed']
df

,Country,Winner,RunnersUp,Third,GoalsScored,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,70,18,590549,3.888889
1934,Italy,Italy,Czechoslovakia,Germany,70,17,363000,4.117647
1938,France,Italy,Hungary,Brazil,84,18,375700,4.666667
1950,Brazil,Uruguay,Brazil,Sweden,88,22,1045246,4.000000
1954,Switzerland,Germany FR,Hungary,Austria,140,26,768607,5.384615
1958,Sweden,Brazil,Sweden,France,126,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,89,32,893172,2.781250
1966,England,England,Germany FR,Portugal,89,32,1563135,2.781250
1970,Mexico,Brazil,Italy,Germany FR,95,32,1603975,2.968750
1974,Germany,Germany FR,Netherlands,Poland,97,38,1865753,2.552632
1978,Argentina,Argentina,Netherlands,Brazil,102,38,1545791,2.684211
1982,Spain,Italy,Germany FR,Poland,146,52,2109723,2.807692
1986,Mexico,Argentina,Germany FR,France,132,52,2394031,2.538462
1990,Italy,Germany FR,Argentina,Italy,115,52,2516215,2.211538
1994,USA,Brazil,Italy,Sweden,141,52,3587538,2.711538
1998,France,France,Brazil,Croatia,171,64,2785100,2.671875
2002,Korea/Japan,Brazil,Germany,Turkey,161,64,2705197,2.515625
2006,Germany,Italy,France,Germany,147,64,3359439,2.296875
2010,South Africa,Spain,Netherlands,Germany,145,64,3178856,2.265625
2014,Brazil,Germany,Argentina,Netherlands,171,64,3386810,2.671875

In [24]:
# query para buscar vencedor igual a Brazil
# poderia também ter sido feito com loc ou iloc
ganhou = df.query('Winner == "Brazil"')
participou = df.query('Winner == "Brazil" | RunnersUp == "Brazil"')

In [25]:
ganhou

,Country,Winner,RunnersUp,Third,GoalsScored,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,
1958,Sweden,Brazil,Sweden,France,126,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,89,32,893172,2.781250
1970,Mexico,Brazil,Italy,Germany FR,95,32,1603975,2.968750
1994,USA,Brazil,Italy,Sweden,141,52,3587538,2.711538
2002,Korea/Japan,Brazil,Germany,Turkey,161,64,2705197,2.515625

In [26]:
# para verificar somente os anos, olhamos somente os rótulos dos DataFrames acima
lista_media_gols = list(ganhou['AverageGoalsMatch'].values)
print('média de gols nos anos que ganhou:', lista_media_gols)    # anos em que o Brasil venceu

print('\nanos em que foi para a final e média de gols:')
print(participou['AverageGoalsMatch']) # anos em que o Brasil disputou uma final

# basta dividimos o número de disputas de final pelo número de vitórias
print('\nporcentagem de vitórias em finais:', round((ganhou.shape[0] / participou.shape[0])*100,1), '%')

média de gols nos anos que ganhou: [3.6, 2.78125, 2.96875, 2.7115384615384617, 2.515625]

anos em que foi para a final e média de gols:
Year
1950    4.000000
1958    3.600000
1962    2.781250
1970    2.968750
1994    2.711538
1998    2.671875
2002    2.515625
Name: AverageGoalsMatch, dtype: float64

porcentagem de vitórias em finais: 71.4 %