# <font color="red"> MBA em IA e Big Data</font>
## <span style="color:red">Linguagens e Ferramentas para Inteligência Artificial e Big Data (Python e SQL)</span>

### <span style="color:darkred">Python: conceitos básicos da linguagem</span>

*Moacir Antonelli Ponti*<br>
*ICMC/USP São Carlos*

*(com material do Prof. Luis Gustavo Nonato)*

### Conteúdo:
- Python
- Memória
- Comentários e saída
- Sequências
- Estruturas de controle
- Definindo funções

# O que é Python?

Python é uma linguagem de programação dinâmica e interpretada. 

As instruções são realizadas em *tempo de execução* e **diretamente ao invés de ser compilado**.

> Compilação: significa que a linguagem é processada antes por um programa *compilador* e transformada em um arquivo binário executável

> Interpretação: significa que a linguagem é processada instrução por instrução por um programa *interpretador*

Um código em Python é um conjunto de símbolos e regras pré-definidas dessa linguagem
* geralmente armazenamos esse código em um arquivo texto com extensão `.py`

## Interpretador Python

É basicamente um "console" ou "terminal" em que digitamos comandos em sequência

Para configurar o Python no computador, é necessário fazer o download e instalar o kit de desenvolvimento em Python - https://www.python.org/downloads/

Instalar a versão de acordo com Sistema Operacional, ex. Mac OSX, Linux, etc.

Distribuições Linux geralmente possuem Python nativamente.

## Código-fonte Python

Um arquivo contendo um código em python possui extensão `.py`

Escrevemos funções e programas para serem carregados posteriormente e utilizados num interpretador.

* O programador reúne seus principais programas e scripts em arquivos *.py* e depois abre e utiliza esses programas no interpretador.

## Notebook

Permite misturar *código* com *conteúdo de apresentação*, salvando os resultados dos códigos, inclusive gráficos.

* Arquivo notebook tem extensão `.ipynb`, utilizado para prototipação e apresentações e não para codificar programas a colocar em *produção*

> Na computação separamos programas em *desenvolvimento* daqueles efetivamente funcionando na prática **em produção**

O notebook também permite código em *HTML* e linguagem *Markdown*

### Tipos de arquivo

* Programa em Python (`.py` tipo texto)
* Notebook (`.ipynb`) tem foco na *apresentação* e permite tanto código quanto linguagem *Markdown/HTML*

Essa interface que estamos usando, chamada **Jupyter Notebook** funciona como interpretador Python!

In [1]:
50 + 10 / 1.5 - 63

-6.333333333333336

In [2]:
x = 2
50 + x / 1.5 - x

49.333333333333336

# Usando a *memória* do computador

Um dos elementos mais importantes do computador é a sua memória, onde podemos:
* armazenar dados 
* recuperar dados 
para posteriormente processá-los

Eletronicamente, a memória codifica dados em **bits** - valores 0 e 1 fisicamente armazenados utilizando corrente elétrica

Os bits são concatenados para representar valores mais complexos. 

Por exemplo, considerando os números inteiros
> 00000001 é equivamente ao número `1`<br>
> 00001000 é equivamente ao número `8`<br>
> ...<br>
> 00100011 é equivamente ao número `35`<br>

Já se queremos representar caracteres
> 01100001 representa a letra `a`<br>
> 00100011 representa o caracter `#`

**Mas como diferenciar** `#` de `35`?

Em Python os chamados *literais* ou valores possuem um **tipo**

* o tipo define a interpretação dos bits e o que podemos fazer com esse dado

Existe uma **função** em Python para saber o tipo: `type()`

In [3]:
type(35)

int

O tipo `int` é relativo a números inteiros

In [4]:
35 + 5

40

In [5]:
type(35 + 5)

int

In [6]:
type('#')

str

O tipo `str` é relativo a *strings*, em Português *cadeias/sequências de caracteres*

In [7]:
'#' + 'bigdata'

'#bigdata'

In [8]:
'#' + 35

TypeError: can only concatenate str (not "int") to str

**nosso primeiro erro!** (de muitos)
> *é possível concatenar apenas str (e nao "int") com str*

Sem saber já aprendemos que o `+` significa adição para inteiros, mas significa concatenação para strings

## Tipos mais comuns

### Inteiro - *int*
- Ex: `42`

### Ponto flutuante - *float*
Simula números reais, porém sua precisão é limitada (e não infinita)

- Ex: `3.14`, `3.14e-10`, `.0001`, `4.`

### Booleanos - *bool*
Resultado de uma expressão lógica
- Ex: `True`, `False`

### Cadeia de caracteres - *string*
Descrita entre aspas, é também uma sequência (abordaremos posteriormente sequências)
- Ex: `'palavra'`, `'uma frase'`

### Números complexos
- Ex: `3j`, `4+5j`

In [9]:
42

42

In [10]:
type(42)

int

In [11]:
3.14

3.14

In [12]:
type(3.14)

float

In [13]:
.12345678901234567890123456789

0.12345678901234568

In [14]:
3e6

3000000.0

In [15]:
1.5e-3

0.0015

In [16]:
42 / 3.14

13.375796178343949

In [17]:
type(True)

bool

In [18]:
42 == 3.14

False

In [19]:
type(42 > 3.14)

bool

In [20]:
'big data and artificial intelligence'

'big data and artificial intelligence'

In [21]:
type('big data')

str

In [22]:
10j

10j

In [23]:
type(10j)

complex

In [24]:
50+10j

(50+10j)

In [25]:
(50+10j) * 3j

(-30+150j)

## Variáveis

São **símbolos** com identificadores associados a **valores/literais** guardados na memória

Basta:
* nomear utilizando um identificador contendo: caracteres em mínusculo, maiúsculo, underscore (\_)
* *atribuir* seu primeiro valor com o operador `=`

Podemos usar dígitos, mas nunca como primeiro caracter do identificador.

In [26]:
x = 42
y = 42.0
_frase = 'inteligência artificial'

Para recuperar os valores basta usar os símbolos/identificadores

In [27]:
x

42

In [28]:
x/y

1.0

In [29]:
_frase + ' e big data'

'inteligência artificial e big data'

In [30]:
nova_frase = _frase + ' e big data'
nova_frase

'inteligência artificial e big data'

In [31]:
_FRASE

NameError: name '_FRASE' is not defined

**erro: `_FRASE` não foi definido**

a nomeação de identificadores é sensivel à caixa (*case sensitive*)

#### Palavras Reservadas

Há exceções para o uso de identificadores, pois há palavras que já são parte do código Python e são vedadas para evitar ambiguidade

Ex: `False, if, not, and, None, global, try`, entre outras

É razoavelmente fácil identificar essas palavras pois a maior parte dos interpretadores e interfaces colorem essas palavras quando digitadas, em negrito e alguma cor (aqui estará em verde escuro)

In [32]:
False = 45.1

SyntaxError: cannot assign to False (<ipython-input-32-7284c941258b>, line 1)

In [33]:
if = 'se eu fosse'

SyntaxError: invalid syntax (<ipython-input-33-17d26d14a71d>, line 1)

In [34]:
IF = 'se eu fosse'

agora funciona pois `if` e `IF` são identificadores distintos

## Comentários de código e saída de dados

In [35]:
# Comentários de uma linha em Python são iniciados com "#"
# --> tudo que vem após "#" é ignorado e não considerado código

x = 36      # Criando e inicializando x como número inteiro (int)
y = 'Hello' # Criando e inicializando y como um conjunto de caracteres (str)
z = 3.45    # Criando e inicializando z como um número real (float)

#### Imprimindo os tipos de cada variável com as funções:
# print(): utilizada para exibir o conteúdo de variáveis, textos, 
#          ou o resultado de operações e funções
# type(): que retorna o tipo da literal/valor informado

print('Tipo da variavel x = ',type(x))
print('Tipo da variavel y = ',type(y))
print('Tipo da variavel z = ',type(z))

Tipo da variavel x =  <class 'int'>
Tipo da variavel y =  <class 'str'>
Tipo da variavel z =  <class 'float'>

- A atrubuição cria e inicializa as variáveis
- Cada tipo admite certas operações

In [36]:
# criando variáveis e atribuindo valores
x = 36     
y = "Rio" 
z = 3.45  

x = x + 1         # preserva o tipo int
y = y + " grande" # Concatenação de strings
z = 2 + z         # preserva o tipo float
w = x / 2         # embora x seja inteiro, a operação de divisão resulta em um float
    
# Imprimindo os resultados
print('x = ',x,type(x))
print('y = ',y,type(y))
print('z = ',z,type(z))
print('w = ',w,type(z))

x =  37 <class 'int'>
y =  Rio grande <class 'str'>
z =  5.45 <class 'float'>
w =  18.5 <class 'float'>

### Expressões aritméticas

* Soma: `+`
* Subtração: `-`
* Multiplicação: `*`
* Divisão: `/`
* Divisão inteira: `//`
* Resto da divisão: `%`
* Exponenciação: `**`

In [37]:
2 ** 3

8

In [38]:
5 // 2

2

In [39]:
17 % 5

2

- *strings* (str) suportam os operadores ``+`` (concatenação) e ``*`` (replicação), resultando em novas strings.

In [40]:
# Exemplo da "aritmética" com strings
y = 'Aprendendo'
y = y + ' Python '
print("Concatenacao y + ' Python ': ",y)
w = 3*y   # A operação de replicação "*" asume um número inteiro e uma string como argumentos
print("3*y replica y três vezes: ",w)

Concatenacao y + ' Python ':  Aprendendo Python
3*y replica y três vezes:  Aprendendo Python Aprendendo Python Aprendendo Python

**Propriedades de uso da memória**
- Uma *variável* é uma *instância de um objeto* em Python alocado na memória
- Se você tentar acessar uma variável antes que ela tenha sido criada, ocorre um erro
- É possível atribuir valores a multiplas variáveis ao mesmo tempo

In [41]:
var

NameError: name 'var' is not defined

In [ ]:
a, b = 5, 10
print(a)
print(b)

#### Conversão: explícita e implícita

In [42]:
# exemplos de conversão explícita e implícita
x = 2.76
y = int(x)  # convertendo float para int
z = y == 1  # resultado da comparação y == 1 (True/False) é armazenado em z

print("x =", x, " | tipo:", type(x))
print("y =", y, "    | tipo:", type(y))
print("z =", z, "| tipo:", type(z))

x = 2.76  | tipo: <class 'float'>
y = 2     | tipo: <class 'int'>
z = False | tipo: <class 'bool'>

Uma atribuição como
```python
x = 2.76
```
é uma maneira de dar um nome a um objeto (o que é chamado *binding*).
- Variáveis em Python não tem um tipo intrínseco, apenas objetos tem tipo
- Objetos tem identidade (endereço na memória), um tipo e um valor
- O Python determinada o tipo da variável automaticamente baseado no objeto que ela faz referência
- A identidade de um objeto e seu tipo não mudam
- O valor de um objeto pode mudar

---

**<font color="Blue">Exercício 1.1</font>**
Qual o tipo do valor resultante das operações abaixo (ou das variáveis as quais foram atribuídos)?

a) `False + True`<br>
b) `2 * 1e2**2`<br>
c) `a = 6/2`<br>
d) `x = 6//2 + 6%2`<br>
e) `(2 + 4) == 4 or 0 <= 1`<br>

## Sequências

Há três tipos nativos de sequências em Python

#### Tupla - *tuple*
- Sequência ordenada de elementos de qualquer tipo, incluindo outra sequência
- Instanciada com valores entre parênteses separados por vírgula, ex: (1, 2, 3)
- Elementos podem ser de tipos distintos, incluindo outra sequência
- Comumente usadas como "registros" cuja ordem determina o significado dos valores que contém
- Elementos individuais <font color='red'>não podem ser modificados</font> (imutáveis)

#### Lista - *list*
- Sequência mutável ordenada de elementos de qualquer tipo, incluindo outra sequência
- Instanciada com valores entre colchetes separados por vírgula, ex: [1, 2, 3]
- Elementos podem ser modificados, adicionados, removidos, etc.

#### String - *str*
- Sequência ordenada de caracteres
- Instanciada com caracteres entre aspas simples ou duplas, ex: '123abc'
- Elementos individuais <font color='red'>não podem ser modificados</font> (imutáveis)


Elementos da sequência podem ser acessados pelo índice do elemento (sua posição) entre colchetes após o identificador da sequência.<br> 

O *índice dos elementos* inicia em `0` e vai até `n-1`, onde `n` é o número de elementos na sequência.

---
Exemplos de **tuplas**

In [43]:
tupla = (23, 'abc', 4.56, (2,3))  # Tupla é sequência definida usando parenteses ()
    
# os valores dos elementos podem ser acessados utilizando o índice do elemento entre colchetes
print(tupla[0])
print(tupla[1])
print(tupla[2])
print(tupla[3])

23
abc
4.56
(2, 3)

O valor na posição `3` é uma *outra tupla* portanto podemos aninhar sequências.

Para acessar seus valores usamos um novo índice entre colchetes
* elemento na posição 3 da tupla, e dentro dele um elemento na posição 0
* elemento na posição 3 da tupla, e dentro dele um elemento na posição 1

In [44]:
print(tupla[3][0]) 
print(tupla[3][1])

2
3

> Erros típicos: 
* alterar elementos de tipos imutáveis
* acessar posições não existentes

In [45]:
# Como tuplas são imutáveis, não se pode mudar o valor dos elementos (mensagem de erro é gerada)
tupla[2] = 1.5

TypeError: 'tuple' object does not support item assignment

In [46]:
# tentar acessar um elemento fora do intervalo da sequencia gera erro
tupla[4]

IndexError: tuple index out of range

---
Exemplos de **listas** e seus usos

* inclusão de elementos com o método `append()`
* exclusão de elementos com a função `del`

In [47]:
# Listas são definidas utilizando colchetes [ ]
ls = ["abc", 34, 4.34, 23, 9, 98]  
                        
print(ls)
print(ls[0])
print(ls[1])
print(ls[2])
print(ls[3])

# mutável, podemos alterar elementos
ls[3] = 10000
print(ls)

['abc', 34, 4.34, 23, 9, 98]
abc
34
4.34
23
['abc', 34, 4.34, 10000, 9, 98]

In [48]:
lsn = []  # cria um lista lsn vazia
print(lsn)

# inserindo elementos em uma lista após ela ter sido criada
lsn.append('maçã')
lsn.append('manga')
lsn.append('banana')
lsn.append('laranja')
print(lsn)

[]
['maçã', 'manga', 'banana', 'laranja']

In [49]:
lsn.insert(0,'abacate')
lsn.append('manga')
print(lsn)

lsn.insert(2,'amora')
print(lsn)

['abacate', 'maçã', 'manga', 'banana', 'laranja', 'manga']
['abacate', 'maçã', 'amora', 'manga', 'banana', 'laranja', 'manga']

In [50]:
# elementos também podem ser removidos com o comando 'del'
print(3*'-','Removendo elememtos inseridos')

print(lsn)
print('-','deleta posição 0')
del(lsn[0])
print(lsn)

print('-','deleta posição 2')
del(lsn[2])
print(lsn)

--- Removendo elememtos inseridos
['abacate', 'maçã', 'amora', 'manga', 'banana', 'laranja', 'manga']
- deleta posição 0
['maçã', 'amora', 'manga', 'banana', 'laranja', 'manga']
- deleta posição 2
['maçã', 'amora', 'banana', 'laranja', 'manga']

OBS: a função `del()` é mais geral e funciona inclusive para variáveis

In [51]:
x = 10
del(x)
print(x)

NameError: name 'x' is not defined

---
Exemplos e uso de **strings**

In [52]:
st = 'Não é uma string'  # Strings são definidas utilizando aspas simples '' ou duplas ""
print(st[0])
print(st[1])
print(st[2])

N
ã
o

Strings possui alguns métodos como
* `upper()`
* `replace()` 

Ver lista completa em https://docs.python.org/3/library/string.html

In [53]:
print(st.upper())
print(st)

NÃO É UMA STRING
Não é uma string

In [54]:
st = st.replace('Não', 'Sim,')
print(st)

Sim, é uma string

O número de elementos de uma sequência pode ser consultado utilizando a função **len()**

In [55]:
print(tupla)
print("tamanho da tupla: ",len(tupla),"\n")
print(ls)
print("tamanho da lista: ",len(ls),"\n")
print(st)
print("tamanho da string: ",len(st))

(23, 'abc', 4.56, (2, 3))
tamanho da tupla:  4

['abc', 34, 4.34, 10000, 9, 98]
tamanho da lista:  6

Sim, é uma string
tamanho da string:  17

---

# Estruturas de controle

## Condicional `if`
O comando <font color='blue'>if</font> é o principal comando para condicionar o fluxo de execução do código.

```python
if <condicao>:
    <bloco indentado dentro do escopo da condicao verdadeira>
```

Sempre que a condição for verdadeira (__True__) o bloco de código identado abaixo é executado.

***Erros comuns:***
1. esquecer "dois pontos"
1. errar a indentação no código a ser executado se o `if` for verdadeiro

#### Indentação

Indentação denota blocos de código em um determinado escopo
```python
if z == 3.45:
    x = x + z
    z = z / 2
```

Esse espaço inicial dado às duas linhas abaixo da instrução `if` indicam que as linhas estão no escopo desse `if`

**Identação é obrigatória** e deve ser utilizada com cuidado, já que, diferente de linguagens como Java e C++, Python utilizada apenas indentação para delimitar blocos.

Linhas de código no mesmo nível de indentação formam um bloco

In [56]:
condicao = True

if condicao:
    print("Código será executado se condicao for VERDADEIRA (True)")

Código será executado se condicao for VERDADEIRA (True)

In [57]:
condicao = False

if condicao:
    print("Código será executado se condicao for VERDADEIRA (True)")

In [58]:
condicao = False

t = 1

if condicao:
    print("Essa condicao foi verdadeira")
    print("do contrario esses prints nao executariam")
    t = 1000
print("fora do IF, valor de t=", t)

fora do IF, valor de t= 1

---
Além da condição principal, também é possível utilizar os comandos __*else*__ (senão) e __*elif*__ (senão se) para controlar o fluxo do programa

* `elif` será testado apenas se as condições anteriores forem falsas
* um bloco abaixo de `else` será executado quando *todas* as condições anteriores forem falsas

In [59]:
x = 2   # alterar valor de x e testar

if x == 3:
    print("x vale 3")
elif x == 2:
    print("x vale 2")
else:
    print("x não vale nem 3 nem 2")
print("Este print está fora do 'if'")

x vale 2
Este print está fora do 'if'

Python suporta comandos _if_ ternário

In [60]:
x = 2  

# O seguinte trecho de código
if x == 3:
    y = 'três'
else:
    y = 'outro número'
    
print(y)

# É equivalente a
y = 'três' if x == 3 else 'outro número' # isto é um 'if' ternário
print(y)

# mude o valor de x no início da célula para 3 e veja o resultado

outro número
outro número

---
**<font color="blue">Exercício 1.2</font>**

Crie uma variável contendo um ano (um valor inteiro entre 0 e 3000)

A seguir, se o ano for divisível por 4, exiba na tela 'Pode ser um ano bissexto'; caso contrário exiba 'Definitivamente não é um ano bissexto'

__Dica:__ Utilize o operador `%` que retorna o resto da divisão de um número por outro.

## Iterando por sequências

Uma tarefa bastante comum é realizar uma ação para cada elemento da sequência, inspecionando cada um dos valores.

Por exemplo: um programa que, dada uma palavra, soletre cada uma das letras.

```python
Entre com uma palavra: excesso
Soletrando:
    e
    x
    c
    e
    s
    s
    o
```

Começa com a entrada de uma palavra:

In [63]:
palavra = str(input())

excesso

In [64]:
print(palavra[0])
print(palavra[1])
print(palavra[2])
print(palavra[3])
print(palavra[4])
print(palavra[5])
print(palavra[6])

e
x
c
e
s
s
o

Agora precisamos, **para cada** caracter da palavra, imprimí-lo na tela

In [65]:
palavra = str(input())
print("soletrando:")
for caracter in palavra:
    print(caracter)

asdf
soletrando:
a
s
d
f

### laço `for`

Estrutura de repetição ou iteração chamada de laço `for` (em inglês `for` loop)

No exemplo acima o `for` é relativo às linhas 3 e 4:
* linha 3: define `caracter` como uma variável
    * `caracter` vai receber repetidamente elementos contidos em (`in`) `palavra`
* linha 4: para cada atribuição podemos realizar ações
    * nesse caso imprimimos o caracter
    * note que o `print` está indentado! é obrigatório indentar para colocar comandos dentro do escopo do `for`

Sintaxe:
```
for <variavel> in <sequencia>:
    <bloco indentado>
    ...
    <ultimo comando indentado>
    
<comando não identado (fora do for)>
```

Podemos usar o laço `for` para iterar por itens em qualquer sequência, como listas

In [66]:
categorias = ['zebra', 'person', 5, 'airplane', 10, 'car']
print(categorias)

['zebra', 'person', 5, 'airplane', 10, 'car']

In [67]:
for elem in categorias:
    print(elem)

zebra
person
5
airplane
10
car

Podemos combinar `for` e outras estruturas como `if`

Abaixo, vamos imprimir apenas elementos que sejam strings

In [68]:
for elem in categorias:
    if type(elem) == str:
        print(elem)

zebra
person
airplane
car

#### Função `range()` em conjunto com `for`

A função `range()` gera *intervalo*, o qual pode ser convertido para lista ou outra sequência

Cria um intervalo de `i` até anterior a `j` com um `passo` definido:
`range(i,j, passo)`

In [69]:
range(1,10)

range(1, 10)

In [70]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [72]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [73]:
lista_numeros = []
for i in range(20):
    if (i%2 == 0):
        lista_numeros.append(i) 
    
print('numero de elementos na lista: ',len(lista_numeros))
print(lista_numeros)

numero de elementos na lista:  10
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Laços aninhados

In [74]:
l1 = ['a', 'b', 'c']
l2 = ['X', 'Z']

# iterar pela lista l1
for i in l1:
    #print(i)
    for j in l2:
        #print("\t",j)
        print("%s%s" % (i,j))

aX
aZ
bX
bZ
cX
cZ

---

**<font color="blue">Exercício 1.3 </font>**

Dada a lista `valores` abaixo, crie uma nova lista chamada `numeros` contendo apenas elementos `float` ou `int`.

Note que essa nova lista pode ter menos elementos do que a lista existente.

Ao final exiba a nova lista `numeros`

__Dica__: Percorra a lista com uma estrutura de repetição e utilize `type()` para retornar o tipo e compare com o desejado. Exemplo:
```python
type(3) == int
```
Retorna `True`

---

In [75]:
valores = ['três', 56, 342, 12.4e-5, 4+3j, ('A', 1, 50.1), -0.19e4, 1000, 960, -406]

### Diretivas `continue`  e `break`

São formas de burlar a estrutura de iteração original

* `continue` pula a iteração atual e vai para a próxima
* `break` interrompe a iteração e sai da estrutura

Ambas são pouco recomendadas, mas existem e podem ser usadas se não houver uma outra alternativa.

In [76]:
lista = ['a', 10.5, .20, 'b', 30.0, 100, ('tupla', 1, 2), 10, 'fim', 1000, 405, 'x']

In [77]:
soma = 0
for x in lista:
    # se o elemento for fim, encerra o loop
    if (x == 'fim'):
        break
        
    # se o elemento for diferente de inteiro e float, vai para o proximo
    if (type(x) != int and type(x) != float):
        continue
        
    soma = soma + x
    
print("Soma dos floats e ints anteriores a 'fim':", soma)

Soma dos floats e ints anteriores a 'fim': 150.7

---

## Laço `while` 

A estrutura `while` é mais geral do que a `for` e permite repetir um bloco de código mediante uma *condição*

Vamos relembrar a estrutura condicional `if` que tinha a seguinte sintaxe:

```
if <condicao>:
    <bloco indentado, executado se condicao for verdadeira>
    
<comando nao indentado, fora do if>
```

Nessa estrutura, caso a condição seja verdadeira, 
* o programa executa o `bloco indentado`
* a seguir, sai da estrutura `if` e executa o `comando nao indentado`

Caso a condição seja falsa
* pula o bloco `if` e executa diretamente o `comando nao indentado`

---

No caso de um `while` a sintaxe é 
```
while <condicao>:
    <bloco indentado, executado se condicao for verdadeira>
    
<comando nao indentado, fora do while>
```

Assim o `bloco indentado` pode ser executado *múltiplas* vezes, **enquanto** a condição for verdadeira

**Agora a condição de parada é importante**
* é preciso que, em algum momento, a condição seja falsa, para que o programa continue executando

**Exemplo**: a partir de um número, divida o número sucessivas vezes por 2 enquanto o valor permaneça maior do que 1

In [78]:
# entrada do número
num = int(input())

c = 0 # contador

# enquanto número for maior do que 1
while (num > 1):
    num = num//2
    c = c + 1
    print(num)
    
print("Divisoes por 2: ", c)

44
22
11
5
2
1
Divisoes por 2:  5

---

## Codificando Funções

Já usamos diversas funções nativas do Python, que foram implementadas para facilitar nossa vida:

* `len()`
* `sum()`
* `type()`
* `input()`

Funções são úteis quando temos que repetir uma tarefa várias vezes.

Podemos programar nossa própria função, usando a seguinte sintaxe:

```
def <identificador_da_funcao>(<uma ou mais variaveis parametros da funcao>):
    <codigo indentado parte da funcao>
    <return : caso essa funcao retorne algo>
```

A palavra `def` indica a definição da função, que passará a ficar disponível para uso.

Vamos criar uma função que receba um número e verifique se esse número é `int` ou `float` o que pode ser útil para controle de entrada

In [79]:
def is_intfloat(x):
    if (type(x) == int or type(x) == float):
        print("é inteiro ou float")
    else:
        print("não é inteiro nem float")

In [80]:
val1 = 3.0
is_intfloat(val1)

val2 = 3
is_intfloat(val2)

val3 = '5.5'
is_intfloat(val3)

é inteiro ou float
é inteiro ou float
não é inteiro nem float

A nossa função *imprime* o resultado na tela, mas **não é recomendado** que funções possuam operações de *entrada e saída*.

É muito mais útil que a função devolva o resultado de alguma forma. Isso é feito pelo comando `return`

> Esse é um erro comum: usar `print()` ao invés de return.

In [81]:
def is_intfloat(x):
    if (type(x) == int or type(x) == float):
        return True
    else:
        return False
    
val1 = 3.0
print(is_intfloat(val1))

val3 = '5.5'
print(is_intfloat(val3))

True
False

Assim, conseguimos usar essa função como parte das nossas soluções.

In [82]:
val = 'dd'
if is_intfloat(val):
    val = val/2
    print(val)

---

#### <font color="blue">Exercício 1.4 </font>

Escreva uma **função** que receba por parâmetro uma taxa de juros pagas ao ano, calcule e retorne um número inteiro relativo a quantos anos serão necessários para que um investimento nessa taxa dobre de valor. Assuma juros compostos e use uma estrutura de repetição para calcular.

---